<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.airparking.apms.api.key.mapper.SecretKeyMapper">

    <resultMap id="entityMap" type="SecretKey" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="app_id" property="appId" jdbcType="VARCHAR" />
        <result column="secret_key" property="secretKey" jdbcType="VARCHAR" />
        <result column="park_id" property="parkId" jdbcType="BIGINT" />
        <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
        <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
        <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
        <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    </resultMap>

    <sql id="listColumn" >
        app_id, secret_key, description, park_id
    </sql>

    <select id="findByAppId" resultMap="entityMap" parameterType="java.lang.String" >
        select
        <include refid="listColumn" />
        from secret_key
        where app_id = #{appId, jdbcType=VARCHAR}
        and is_deleted = false
    </select>

</mapper>