<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kapphk.yyt.mapper.UserTagMapper" >
    <resultMap id="BaseResultMap" type="com.kapphk.yyt.bean.UserTag" >
        <!--  自动生成 2016年12月05日 表与实体类字段对应 -->
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="tag_type" property="tagType" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="INTEGER" />
        <result column="row_seq" property="rowSeq" jdbcType="INTEGER" />
        <result column="logo_path" property="logoPath" jdbcType="VARCHAR" />
        <result column="value_from" property="valueFrom" jdbcType="DECIMAL" />
        <result column="value_to" property="valueTo" jdbcType="DECIMAL" />
        <result column="sort" property="sort" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        <!--  自动生成 2016年12月05日 表字段名称 -->
        id, tag_type, state, row_seq, logo_path, value_from, value_to, sort, create_time
    </sql>
    
    <sql id="findByPageSql" >
        <!-- WARNING -  自动生成 2016-12-05  分页查询SQL -->
        select a.* from user_tag a
        <where >
            <if test="param.id != null and param.id != ''" >
                and a.id = #{param.id,jdbcType=VARCHAR}
            </if>
            <if test="param.tagType != null and param.tagType != ''" >
                and a.tag_type = #{param.tagType,jdbcType=VARCHAR}
            </if>
            <if test="param.state != null " >
                and a.state = #{param.state,jdbcType=INTEGER}
            </if>
            <if test="param.rowSeq != null " >
                and a.row_seq = #{param.rowSeq,jdbcType=INTEGER}
            </if>
            <if test="param.logoPath != null and param.logoPath != ''" >
                and a.logo_path = #{param.logoPath,jdbcType=VARCHAR}
            </if>
            <if test="param.valueFrom != null " >
                and a.value_from = #{param.valueFrom,jdbcType=DECIMAL}
            </if>
            <if test="param.valueTo != null " >
                and a.value_to = #{param.valueTo,jdbcType=DECIMAL}
            </if>
            <if test="param.sort != null " >
                and a.sort = #{param.sort,jdbcType=BIGINT}
            </if>
        </where>
        order by a.id desc
    </sql>
    
    <select id="findByPage" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-12-05  分页查询 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp limit #{offset}, #{pageSize}
    </select>
    
    <select id="findByPageCount" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-12-05  分页查询总条数 -->
        select count(1) from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
    
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
        <!--  自动生成 2016年12月05日 根据ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from user_tag
        where id = #{id,jdbcType=VARCHAR}
    </select>
    
    <select id="load" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-12-05  根据多个ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from user_tag where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </select>
    
    <select id="all" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-12-05  查询所有 -->
        select 
        <include refid="Base_Column_List" />
        from user_tag
    </select>
    
    <select id="count" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-12-05 查询总条数 -->
        select count(1) from user_tag
    </select>
    
    <update id="update" parameterType="com.kapphk.yyt.bean.UserTag" >
        <!--  自动生成 2016年12月05日 更新数据 -->
        update user_tag
        <set >
            <if test="tagType != null" >
                tag_type = #{tagType,jdbcType=VARCHAR},
            </if>
            <if test="state != null" >
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="rowSeq != null" >
                row_seq = #{rowSeq,jdbcType=INTEGER},
            </if>
            <if test="logoPath != null" >
                logo_path = #{logoPath,jdbcType=VARCHAR},
            </if>
            <if test="valueFrom != null" >
                value_from = #{valueFrom,jdbcType=DECIMAL},
            </if>
            <if test="valueTo != null" >
                value_to = #{valueTo,jdbcType=DECIMAL},
            </if>
            <if test="sort != null" >
                sort = #{sort,jdbcType=BIGINT},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    
    <insert id="insert" parameterType="com.kapphk.yyt.bean.UserTag" >
        <!--  自动生成 2016年12月05日 添加数据 -->
        insert into user_tag
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="tagType != null" >
                tag_type,
            </if>
            <if test="state != null" >
                state,
            </if>
            <if test="rowSeq != null" >
                row_seq,
            </if>
            <if test="logoPath != null" >
                logo_path,
            </if>
            <if test="valueFrom != null" >
                value_from,
            </if>
            <if test="valueTo != null" >
                value_to,
            </if>
            <if test="sort != null" >
                sort,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="tagType != null" >
                #{tagType,jdbcType=VARCHAR},
            </if>
            <if test="state != null" >
                #{state,jdbcType=INTEGER},
            </if>
            <if test="rowSeq != null" >
                #{rowSeq,jdbcType=INTEGER},
            </if>
            <if test="logoPath != null" >
                #{logoPath,jdbcType=VARCHAR},
            </if>
            <if test="valueFrom != null" >
                #{valueFrom,jdbcType=DECIMAL},
            </if>
            <if test="valueTo != null" >
                #{valueTo,jdbcType=DECIMAL},
            </if>
            <if test="sort != null" >
                #{sort,jdbcType=BIGINT},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    
    <insert id="inserts" parameterType="java.util.List" >
        <!-- WARNING -  自动生成 2016-12-05 添加多条数据 -->
        insert into user_tag (id, tag_type, state, row_seq, logo_path, value_from, value_to, sort, create_time)
        values
        <foreach collection="list" item="item" separator="," >
            (#{item.id,jdbcType=VARCHAR}, #{item.tagType,jdbcType=VARCHAR}, #{item.state,jdbcType=INTEGER}, #{item.rowSeq,jdbcType=INTEGER}, #{item.logoPath,jdbcType=VARCHAR}, #{item.valueFrom,jdbcType=DECIMAL}, #{item.valueTo,jdbcType=DECIMAL}, #{item.sort,jdbcType=BIGINT}, #{item.createTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
    
    <delete id="delete" parameterType="java.lang.String" >
        <!--  自动生成 2016年12月05日 删除数据 -->
        delete from user_tag
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    
    <delete id="deletes" >
        <!-- WARNING -  自动生成 2016-12-05 删除多条数据 -->
        delete from user_tag where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </delete>
    
    <delete id="deleteByEntity" >
        <!-- WARNING -  自动生成 2016-12-05 通过实体类中的条件删除数据 -->
        delete from user_tag
        <where >
            <if test="param.id != null and param.id != ''" >
                and id = #{param.id,jdbcType=VARCHAR}
            </if>
            <if test="param.tagType != null and param.tagType != ''" >
                and tag_type = #{param.tagType,jdbcType=VARCHAR}
            </if>
            <if test="param.state != null " >
                and state = #{param.state,jdbcType=INTEGER}
            </if>
            <if test="param.rowSeq != null " >
                and row_seq = #{param.rowSeq,jdbcType=INTEGER}
            </if>
            <if test="param.logoPath != null and param.logoPath != ''" >
                and logo_path = #{param.logoPath,jdbcType=VARCHAR}
            </if>
            <if test="param.valueFrom != null " >
                and value_from = #{param.valueFrom,jdbcType=DECIMAL}
            </if>
            <if test="param.valueTo != null " >
                and value_to = #{param.valueTo,jdbcType=DECIMAL}
            </if>
            <if test="param.sort != null " >
                and sort = #{param.sort,jdbcType=BIGINT}
            </if>
        </where>
    </delete>
    
    <select id="findAll" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-12-05  通过实体中的条件查询所有 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
</mapper>