<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kapphk.yyt.mapper.UserNumberMapMapper" >
    <resultMap id="BaseResultMap" type="com.kapphk.yyt.bean.UserNumberMap" >
        <!--  自动生成 2016年12月06日 表与实体类字段对应 -->
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="uid" property="uid" jdbcType="BIGINT" />
        <result column="unid" property="unid" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        <!--  自动生成 2016年12月06日 表字段名称 -->
        id, uid, unid, create_time
    </sql>
    
    <sql id="findByPageSql" >
        <!-- WARNING -  自动生成 2016-12-06  分页查询SQL -->
        select a.* from user_number_map a
        <where >
            <if test="param.id != null " >
                and a.id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.uid != null " >
                and a.uid = #{param.uid,jdbcType=BIGINT}
            </if>
            <if test="param.unid != null " >
                and a.unid = #{param.unid,jdbcType=BIGINT}
            </if>
        </where>
        order by a.id desc
    </sql>
    
    <select id="findByPage" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-12-06  分页查询 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp limit #{offset}, #{pageSize}
    </select>
    
    <select id="findByPageCount" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-12-06  分页查询总条数 -->
        select count(1) from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
    
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        <!--  自动生成 2016年12月06日 根据ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from user_number_map
        where id = #{id,jdbcType=BIGINT}
    </select>

    <!--根据用户燃气编号查询-->
    <select id="findByUnid" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from user_number_map
        where unid = #{unid,jdbcType=BIGINT}
    </select>
    <!--根据用户燃气编号查询用户编号-->
    <select id="findUidByUnid" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        uid
        from user_number_map
        where unid = #{unid,jdbcType=BIGINT}
        group by uid
    </select>

    <select id="load" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-12-06  根据多个ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from user_number_map where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </select>
    
    <select id="all" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-12-06  查询所有 -->
        select 
        <include refid="Base_Column_List" />
        from user_number_map
    </select>
    
    <select id="count" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-12-06 查询总条数 -->
        select count(1) from user_number_map
    </select>
    
    <update id="update" parameterType="com.kapphk.yyt.bean.UserNumberMap" >
        <!--  自动生成 2016年12月06日 更新数据 -->
        update user_number_map
        <set >
            <if test="uid != null" >
                uid = #{uid,jdbcType=BIGINT},
            </if>
            <if test="unid != null" >
                unid = #{unid,jdbcType=BIGINT},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    
    <insert id="insert" parameterType="com.kapphk.yyt.bean.UserNumberMap" useGeneratedKeys="true" keyProperty="id" >
        <!--  自动生成 2016年12月06日 添加数据 -->
        insert into user_number_map
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="uid != null" >
                uid,
            </if>
            <if test="unid != null" >
                unid,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="uid != null" >
                #{uid,jdbcType=BIGINT},
            </if>
            <if test="unid != null" >
                #{unid,jdbcType=BIGINT},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    
    <insert id="inserts" parameterType="java.util.List" >
        <!-- WARNING -  自动生成 2016-12-06 添加多条数据 -->
        insert into user_number_map (uid, unid, create_time)
        values
        <foreach collection="list" item="item" separator="," >
            (#{item.uid,jdbcType=BIGINT}, #{item.unid,jdbcType=BIGINT}, #{item.createTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
    
    <delete id="delete" parameterType="java.lang.Long" >
        <!--  自动生成 2016年12月06日 删除数据 -->
        delete from user_number_map
        where id = #{id,jdbcType=BIGINT}
    </delete>
    
    <delete id="deletes" >
        <!-- WARNING -  自动生成 2016-12-06 删除多条数据 -->
        delete from user_number_map where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </delete>
    
    <delete id="deleteByEntity" >
        <!-- WARNING -  自动生成 2016-12-06 通过实体类中的条件删除数据 -->
        delete from user_number_map
        <where >
            <if test="param.id != null " >
                and id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.uid != null " >
                and uid = #{param.uid,jdbcType=BIGINT}
            </if>
            <if test="param.unid != null " >
                and unid = #{param.unid,jdbcType=BIGINT}
            </if>
        </where>
    </delete>
    
    <select id="findAll" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-12-06  通过实体中的条件查询所有 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
</mapper>