<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kapphk.web.dao.mapper.course.BeanCourseUseMapper" >
    <resultMap id="BaseResultMap" type="com.kapphk.web.bean.course.BeanCourseUse" >
        <!--  自动生成 2016年11月25日 表与实体类字段对应 -->
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="uid" property="uid" jdbcType="BIGINT" />
        <result column="use_month" property="useMonth" jdbcType="VARCHAR" />
        <result column="unuse_course_name" property="unuseCourseName" jdbcType="VARCHAR" />
        <result column="use_course_name" property="useCourseName" jdbcType="VARCHAR" />
        <result column="use_counts" property="useCounts" jdbcType="INTEGER" />
        <result column="use_amount" property="useAmount" jdbcType="DECIMAL" />
        <result column="unuse_counts" property="unuseCounts" jdbcType="INTEGER" />
        <result column="unuse_amount" property="unuseAmount" jdbcType="DECIMAL" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <!-- 查询当月课程消耗数据 -->
    <select id="findCourseUseList" resultType="java.util.Map">
    	SELECT u.id,COUNT((CASE WHEN o.is_use=1 THEN 1 END)) AS ycounts,GROUP_CONCAT(DISTINCT (CASE WHEN o.is_use=1 THEN c.item_name END)) AS yItemName,
		FLOOR(SUM(CASE WHEN o.is_use=1 THEN o.discount_red END)+SUM(CASE WHEN o.is_use=1 THEN o.pay_amount END)) AS yAmount,
		COUNT((CASE WHEN o.is_use=0 THEN 1 END)) AS wcounts,GROUP_CONCAT(DISTINCT (CASE WHEN o.is_use=0 THEN c.item_name END)) AS wItemName,
		FLOOR(SUM(CASE WHEN o.is_use=0 THEN o.discount_red END)+SUM(CASE WHEN o.is_use=0 THEN o.pay_amount END)) AS wAmount
		FROM sys_user u 
		INNER JOIN app_course_order o ON o.uid=u.id AND o.record_type=1 
		AND o.coupon_id IS NULL AND o.is_pay=1 AND o.pay_status != 3
		INNER JOIN app_course c ON c.id=o.course_id
		WHERE u.id != -1 AND o.pay_time &gt;= #{startTime} AND o.pay_time &lt;= #{endTime} 
		GROUP BY u.id
    </select>
    
    <sql id="Base_Column_List" >
        <!--  自动生成 2016年11月25日 表字段名称 -->
        id, uid, use_month, unuse_course_name, use_course_name, use_counts, use_amount, unuse_counts, 
        unuse_amount, create_time
    </sql>
    
    <sql id="findByPageSql" >
        <!-- WARNING -  自动生成 2016-11-25  分页查询SQL -->
        select a.* from app_course_use a
        <where >
            <if test="param.id != null " >
                and a.id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.uid != null " >
                and a.uid = #{param.uid,jdbcType=BIGINT}
            </if>
            <if test="param.useMonth != null and param.useMonth != ''" >
                and a.use_month = #{param.useMonth,jdbcType=VARCHAR}
            </if>
            <if test="param.unuseCourseName != null and param.unuseCourseName != ''" >
                and a.unuse_course_name = #{param.unuseCourseName,jdbcType=VARCHAR}
            </if>
            <if test="param.useCourseName != null and param.useCourseName != ''" >
                and a.use_course_name = #{param.useCourseName,jdbcType=VARCHAR}
            </if>
            <if test="param.useCounts != null " >
                and a.use_counts = #{param.useCounts,jdbcType=INTEGER}
            </if>
            <if test="param.useAmount != null " >
                and a.use_amount = #{param.useAmount,jdbcType=DECIMAL}
            </if>
            <if test="param.unuseCounts != null " >
                and a.unuse_counts = #{param.unuseCounts,jdbcType=INTEGER}
            </if>
            <if test="param.unuseAmount != null " >
                and a.unuse_amount = #{param.unuseAmount,jdbcType=DECIMAL}
            </if>
        </where>
        order by a.id desc
    </sql>
    
    <select id="findByPage" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-11-25  分页查询 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp limit #{offset}, #{pageSize}
    </select>
    
    <select id="findByPageCount" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-11-25  分页查询总条数 -->
        select count(1) from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
    
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        <!--  自动生成 2016年11月25日 根据ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from app_course_use
        where id = #{id,jdbcType=BIGINT}
    </select>
    
    <select id="load" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-11-25  根据多个ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from app_course_use where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </select>
    
    <select id="all" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-11-25  查询所有 -->
        select 
        <include refid="Base_Column_List" />
        from app_course_use
    </select>
    
    <select id="count" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-11-25 查询总条数 -->
        select count(1) from app_course_use
    </select>
    
    <update id="update" parameterType="com.kapphk.web.bean.course.BeanCourseUse" >
        <!--  自动生成 2016年11月25日 更新数据 -->
        update app_course_use
        <set >
            <if test="uid != null" >
                uid = #{uid,jdbcType=BIGINT},
            </if>
            <if test="useMonth != null" >
                use_month = #{useMonth,jdbcType=VARCHAR},
            </if>
            <if test="unuseCourseName != null" >
                unuse_course_name = #{unuseCourseName,jdbcType=VARCHAR},
            </if>
            <if test="useCourseName != null" >
                use_course_name = #{useCourseName,jdbcType=VARCHAR},
            </if>
            <if test="useCounts != null" >
                use_counts = #{useCounts,jdbcType=INTEGER},
            </if>
            <if test="useAmount != null" >
                use_amount = #{useAmount,jdbcType=DECIMAL},
            </if>
            <if test="unuseCounts != null" >
                unuse_counts = #{unuseCounts,jdbcType=INTEGER},
            </if>
            <if test="unuseAmount != null" >
                unuse_amount = #{unuseAmount,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    
    <insert id="insert" parameterType="com.kapphk.web.bean.course.BeanCourseUse" useGeneratedKeys="true" keyProperty="id" >
        <!--  自动生成 2016年11月25日 添加数据 -->
        insert into app_course_use
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="uid != null" >
                uid,
            </if>
            <if test="useMonth != null" >
                use_month,
            </if>
            <if test="unuseCourseName != null" >
                unuse_course_name,
            </if>
            <if test="useCourseName != null" >
                use_course_name,
            </if>
            <if test="useCounts != null" >
                use_counts,
            </if>
            <if test="useAmount != null" >
                use_amount,
            </if>
            <if test="unuseCounts != null" >
                unuse_counts,
            </if>
            <if test="unuseAmount != null" >
                unuse_amount,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="uid != null" >
                #{uid,jdbcType=BIGINT},
            </if>
            <if test="useMonth != null" >
                #{useMonth,jdbcType=VARCHAR},
            </if>
            <if test="unuseCourseName != null" >
                #{unuseCourseName,jdbcType=VARCHAR},
            </if>
            <if test="useCourseName != null" >
                #{useCourseName,jdbcType=VARCHAR},
            </if>
            <if test="useCounts != null" >
                #{useCounts,jdbcType=INTEGER},
            </if>
            <if test="useAmount != null" >
                #{useAmount,jdbcType=DECIMAL},
            </if>
            <if test="unuseCounts != null" >
                #{unuseCounts,jdbcType=INTEGER},
            </if>
            <if test="unuseAmount != null" >
                #{unuseAmount,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    
    <insert id="inserts" parameterType="java.util.List" >
        <!-- WARNING -  自动生成 2016-11-25 添加多条数据 -->
        insert into app_course_use (uid, use_month, unuse_course_name, use_course_name, use_counts, use_amount, unuse_counts, unuse_amount, create_time)
        values
        <foreach collection="list" item="item" separator="," >
            (#{item.uid,jdbcType=BIGINT}, #{item.useMonth,jdbcType=VARCHAR}, #{item.unuseCourseName,jdbcType=VARCHAR}, #{item.useCourseName,jdbcType=VARCHAR}, #{item.useCounts,jdbcType=INTEGER}, #{item.useAmount,jdbcType=DECIMAL}, #{item.unuseCounts,jdbcType=INTEGER}, #{item.unuseAmount,jdbcType=DECIMAL}, #{item.createTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
    
    <delete id="delete" parameterType="java.lang.Long" >
        <!--  自动生成 2016年11月25日 删除数据 -->
        delete from app_course_use
        where id = #{id,jdbcType=BIGINT}
    </delete>
    
    <delete id="deletes" >
        <!-- WARNING -  自动生成 2016-11-25 删除多条数据 -->
        delete from app_course_use where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </delete>
    
    <delete id="deleteByEntity" >
        <!-- WARNING -  自动生成 2016-11-25 通过实体类中的条件删除数据 -->
        delete from app_course_use
        <where >
            <if test="param.id != null " >
                and id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.uid != null " >
                and uid = #{param.uid,jdbcType=BIGINT}
            </if>
            <if test="param.useMonth != null and param.useMonth != ''" >
                and use_month = #{param.useMonth,jdbcType=VARCHAR}
            </if>
            <if test="param.unuseCourseName != null and param.unuseCourseName != ''" >
                and unuse_course_name = #{param.unuseCourseName,jdbcType=VARCHAR}
            </if>
            <if test="param.useCourseName != null and param.useCourseName != ''" >
                and use_course_name = #{param.useCourseName,jdbcType=VARCHAR}
            </if>
            <if test="param.useCounts != null " >
                and use_counts = #{param.useCounts,jdbcType=INTEGER}
            </if>
            <if test="param.useAmount != null " >
                and use_amount = #{param.useAmount,jdbcType=DECIMAL}
            </if>
            <if test="param.unuseCounts != null " >
                and unuse_counts = #{param.unuseCounts,jdbcType=INTEGER}
            </if>
            <if test="param.unuseAmount != null " >
                and unuse_amount = #{param.unuseAmount,jdbcType=DECIMAL}
            </if>
        </where>
    </delete>
    
    <select id="findAll" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-11-25  通过实体中的条件查询所有 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
</mapper>