<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kapphk.web.dao.mapper.teacher.BeanTeacherMapper" >
    <resultMap id="BaseResultMap" type="com.kapphk.web.bean.teacher.BeanTeacher" >
        <!--  自动生成 2016年12月22日 表与实体类字段对应 -->
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="logo_path" property="logoPath" jdbcType="VARCHAR" />
        <result column="uid" property="uid" jdbcType="BIGINT" />
        <result column="teacher_level" property="teacherLevel" jdbcType="VARCHAR" />
        <result column="item_name" property="itemName" jdbcType="VARCHAR" />
        <result column="item_remark" property="itemRemark" jdbcType="VARCHAR" />
        <result column="item_theme" property="itemTheme" jdbcType="VARCHAR" />
        <result column="record_type" property="recordType" jdbcType="INTEGER" />
        <result column="tag_value" property="tagValue" jdbcType="VARCHAR" />
        <result column="tag_type" property="tagType" jdbcType="VARCHAR" />
        <result column="sort" property="sort" jdbcType="INTEGER" />
        <result column="is_home" property="isHome" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <!-- 获取APP陪伴师列表 -->
    <select id="findAccompanyList" resultType="java.util.Map">
	    SELECT * FROM(
	    	SELECT * FROM(SELECT t.id,u.logo_path AS logoPath,t.item_name AS itemName,t.tag_value AS tagvalue,u.sex,t.sort,
			(CASE WHEN t.teacher_level='预备级' THEN 0.5 WHEN t.teacher_level='1 星级' THEN 1 
			WHEN t.teacher_level='2 星级' THEN 2 WHEN t.teacher_level='3 星级' THEN 3
			WHEN t.teacher_level='4 星级' THEN 4 WHEN t.teacher_level='5 星级' THEN 5
			WHEN t.teacher_level='6 星级' THEN 6 END) AS teacherLevel,u.city,
			(SELECT COUNT(1) FROM app_teacher_order o WHERE o.teacher_id=t.id AND state=4) AS counts,
			ROUND(6378.138*2*ASIN(SQRT(POW(SIN(
			(u.latitude*PI()/180-#{latitude}*PI()/180)/2),2)+COS(u.latitude*PI()/180)*COS(#{latitude}*PI()/180)*
			POW(SIN( (u.longitude*PI()/180-#{longitude}*PI()/180)/2),2))),2) AS distance,
			(SELECT COUNT(1) FROM app_teacher_collection c WHERE c.teacher_id=t.id AND c.data_type=1 AND c.uid=#{uid}) AS isCollect,
			u.longitude,u.latitude
			FROM app_teacher t 
			INNER JOIN sys_user u ON u.id=t.uid AND u.city=#{city}
			WHERE t.record_type=2 ORDER BY distance)as b
			
			UNION ALL
			
			SELECT * FROM(SELECT t.id,u.logo_path AS logoPath,t.item_name AS itemName,t.tag_value AS tagvalue,u.sex,t.sort,
			(CASE WHEN t.teacher_level='预备级' THEN 0.5 WHEN t.teacher_level='1 星级' THEN 1 
			WHEN t.teacher_level='2 星级' THEN 2 WHEN t.teacher_level='3 星级' THEN 3
			WHEN t.teacher_level='4 星级' THEN 4 WHEN t.teacher_level='5 星级' THEN 5
			WHEN t.teacher_level='6 星级' THEN 6 END) AS teacherLevel,u.city,
			(SELECT COUNT(1) FROM app_teacher_order o WHERE o.teacher_id=t.id AND state=4) AS counts,
			ROUND(6378.138*2*ASIN(SQRT(POW(SIN(
			(u.latitude*PI()/180-#{latitude}*PI()/180)/2),2)+COS(u.latitude*PI()/180)*COS(#{latitude}*PI()/180)*
			POW(SIN( (u.longitude*PI()/180-#{longitude}*PI()/180)/2),2))),2) AS distance,
			(SELECT COUNT(1) FROM app_teacher_collection c WHERE c.teacher_id=t.id AND c.data_type=1 AND c.uid=#{uid}) AS isCollect,
			u.longitude,u.latitude
			FROM app_teacher t 
			INNER JOIN sys_user u ON u.id=t.uid
			WHERE t.record_type=2 AND (u.city != #{city} OR u.city IS NULL) ORDER BY distance)as c
		) AS a 
			<where>
				<if test="sex != null">
					and a.sex = #{sex}
				</if>
				<if test="tagValue != null and tagValue != ''">
					and a.tagValue like '%${tagValue}%'
				</if>
				<if test="itemName != null and itemName != ''">
					and a.itemName like '%${itemName}%'
				</if>
				<if test="level != null and level != ''">
					and 
					<if test="level == '预备级'">
						a.teacherLevel = 0.5
					</if>
					<if test="level == '12'">
						a.teacherLevel in ('1 星级','2 星级')
					</if>
					<if test="level == '34'">
						a.teacherLevel in ('3 星级','4 星级')
					</if>
					<if test="level == '56'">
						a.teacherLevel in ('5 星级','6 星级')
					</if>
				</if>
			</where>
			order by a.sort desc LIMIT #{page},#{rows}
    </select>
    
    <!-- 获取APP名师列表 -->
    <select id="findAPPTeacherList" resultType="java.util.Map">
			SELECT t.item_name AS itemName,t.id,t.logo_path AS logoPath,t.item_remark AS itemRemark,
			t.teacher_level AS teacherLevel,t.item_theme AS itemTheme
			FROM app_teacher t
			<where>
				AND t.record_type = 1
				<if test="district != null and district != '' and district != '全部'">
					AND t.id IN (SELECT DISTINCT teacher_id FROM app_teacher_district WHERE tag_value = #{district})
				</if>
				<if test="level != null and level != '' and level != '全部'">
					AND t.teacher_level = #{level}
				</if>
				<if test="itemName != null and itemName != ''">
					AND t.item_name LIKE '%${itemName}%'
				</if>
			</where>
			ORDER BY t.sort DESC LIMIT #{page},#{rows}
    </select>
    
     <!-- 首页陪伴师推荐 zoneyu 16-10-10 -->
    <select id="findHomeData" resultType="java.util.Map">
    	SELECT atr.logo_path AS logoPath,atr.id AS accompanyId,
		atr.item_name AS itemName,atr.tag_value AS tagValue,su.sex,su.city,
		(CASE WHEN atr.teacher_level='预备级' THEN 0.5 WHEN atr.teacher_level='1 星级' THEN 1 
			WHEN atr.teacher_level='2 星级' THEN 2 WHEN atr.teacher_level='3 星级' THEN 3
			WHEN atr.teacher_level='4 星级' THEN 4 WHEN atr.teacher_level='5 星级' THEN 5
			WHEN atr.teacher_level='6 星级' THEN 6 END) AS star,COUNT(ato.id) AS amount,
		(SELECT COUNT(1) FROM app_teacher_collection c WHERE c.teacher_id=atr.id AND c.data_type=1 AND c.uid=#{uid}) AS isCollect,
		IFNULL(ROUND(6378.138*2*ASIN(SQRT(POW(SIN(
		(#{latitude}*PI()/180-su.latitude*PI()/180)/2),2)+COS(#{latitude}*PI()/180)*COS(su.latitude*PI()/180)*
		POW(SIN( (#{longitude}*PI()/180-su.longitude*PI()/180)/2),2))),2),0) AS distance
		FROM app_teacher AS atr  
		INNER JOIN sys_user AS su ON atr.uid = su.id  
		LEFT JOIN app_teacher_order AS ato ON atr.id = ato.teacher_id
		WHERE atr.record_type = 2 AND su.city LIKE '${city}%' AND atr.is_home = 1 
		GROUP BY atr.id 
		LIMIT 0,3
    </select>
    
    <!-- 获取全部列表下拉框数据 -->
    <select id="findTeacherList" resultType="java.util.Map">
    	SELECT t.id,t.item_name AS `text` FROM app_teacher t WHERE t.record_type=#{recordType}
    </select>
    
    <!-- 详情 -->
   	<select id="findDetailById" resultType="java.util.Map">
   		SELECT t.id,t.logo_path AS logoPath,t.item_name AS itemName,t.item_content AS itemContent,t.item_remark AS itemRemark,t.sort,
		t.item_theme AS itemTheme,t.teacher_level AS teacherLevel,t.tag_type AS tagType,t.tag_value AS tagValue,CAST(t.create_time AS CHAR) AS createTime,
		(SELECT GROUP_CONCAT(td.tag_value) FROM app_teacher_district td WHERE td.teacher_id=t.id) AS district,t.uid as uid,u.user_name AS userName
		FROM app_teacher t 
		LEFT JOIN sys_user u ON u.id=t.uid
		where t.id = #{id}
   	</select>
    
    <!-- 获取列表 -->
    <select id="findList" resultType="java.util.Map">
    	SELECT t.id,t.logo_path AS logoPath,t.item_name AS itemName,t.item_content AS itemContent,t.item_remark AS itemRemark,t.is_home as isHome,t.sort,
		t.item_theme AS itemTheme,t.teacher_level AS teacherLevel,t.tag_type AS tagType,t.tag_value AS tagValue,CAST(t.create_time AS CHAR) AS createTime,
		(SELECT GROUP_CONCAT(td.tag_value) FROM app_teacher_district td WHERE td.teacher_id=t.id) AS district,u.real_name as realName,
		(SELECT COUNT(1) FROM app_course_online co WHERE co.teacher_id=t.id) AS onlines,u.user_name AS userName,u.logo_path as logoPath1 
		FROM app_teacher t
		LEFT JOIN sys_user u ON t.uid=u.id
		<where>
			and t.record_type = #{param.recordType}
			<if test="district != null and district != ''">
				and EXISTS(SELECT d.teacher_id FROM app_teacher_district d WHERE d.teacher_id=t.id AND d.tag_value=#{district})
			</if>
			<if test="param.teacherLevel != null and param.teacherLevel != ''">
				and t.teacher_level = #{param.teacherLevel}
			</if>
			<if test="param.itemName != null and param.itemName != ''">
				and t.item_name like '%${param.itemName}%'
			</if>
			<if test="param.tagValue != null and param.tagValue != ''">
				and t.tag_value = #{param.tagValue}
			</if>
		</where> 
		ORDER BY t.create_time DESC LIMIT #{page},#{rows}
    </select>
    
     <!-- 获取列表总数 -->
    <select id="findCount" resultType="java.lang.Integer">
    	SELECT COUNT(1)
		FROM app_teacher t
		<where>
			and t.record_type = #{param.recordType}
			<if test="district != null and district != ''">
				and EXISTS(SELECT d.teacher_id FROM app_teacher_district d WHERE d.teacher_id=t.id AND d.tag_value=#{district})
			</if>
			<if test="param.teacherLevel != null and param.teacherLevel != ''">
				and t.teacher_level = #{param.teacherLevel}
			</if>
			<if test="param.itemName != null and param.itemName != ''">
				and t.item_name like '%${param.itemName}%'
			</if>
		</where> 
    </select>
    
    <resultMap id="ResultMapWithBLOBs" type="com.kapphk.web.bean.teacher.BeanTeacher" extends="BaseResultMap" >
        <!--  自动生成 2016年12月22日 表与实体类字段对应 -->
        <result column="item_content" property="itemContent" jdbcType="LONGVARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        <!--  自动生成 2016年12月22日 表字段名称 -->
        id, logo_path, uid, teacher_level, item_name, item_remark, item_theme, record_type, 
        tag_value, tag_type, sort, is_home, create_time
    </sql>
    
    <sql id="Blob_Column_List" >
        <!--  自动生成 2016年12月22日 表字段名称 -->
        item_content
    </sql>
    
    <sql id="findByPageSql" >
        <!-- WARNING -  自动生成 2016-12-22  分页查询SQL -->
        select a.* from app_teacher a
        <where >
            <if test="param.id != null " >
                and a.id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.logoPath != null and param.logoPath != ''" >
                and a.logo_path = #{param.logoPath,jdbcType=VARCHAR}
            </if>
            <if test="param.uid != null " >
                and a.uid = #{param.uid,jdbcType=BIGINT}
            </if>
            <if test="param.teacherLevel != null and param.teacherLevel != ''" >
                and a.teacher_level = #{param.teacherLevel,jdbcType=VARCHAR}
            </if>
            <if test="param.itemName != null and param.itemName != ''" >
                and a.item_name = #{param.itemName,jdbcType=VARCHAR}
            </if>
            <if test="param.itemRemark != null and param.itemRemark != ''" >
                and a.item_remark = #{param.itemRemark,jdbcType=VARCHAR}
            </if>
            <if test="param.itemTheme != null and param.itemTheme != ''" >
                and a.item_theme = #{param.itemTheme,jdbcType=VARCHAR}
            </if>
            <if test="param.recordType != null " >
                and a.record_type = #{param.recordType,jdbcType=INTEGER}
            </if>
            <if test="param.tagValue != null and param.tagValue != ''" >
                and a.tag_value = #{param.tagValue,jdbcType=VARCHAR}
            </if>
            <if test="param.tagType != null and param.tagType != ''" >
                and a.tag_type = #{param.tagType,jdbcType=VARCHAR}
            </if>
            <if test="param.sort != null " >
                and a.sort = #{param.sort,jdbcType=INTEGER}
            </if>
            <if test="param.isHome != null " >
                and a.is_home = #{param.isHome,jdbcType=INTEGER}
            </if>
            <if test="param.itemContent != null " >
                and a.item_content = #{param.itemContent,jdbcType=LONGVARCHAR}
            </if>
        </where>
        order by a.id desc
    </sql>
    
    <select id="findByPage" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-12-22  分页查询 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp limit #{offset}, #{pageSize}
    </select>
    
    <select id="findByPageCount" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-12-22  分页查询总条数 -->
        select count(1) from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
    
    <select id="findById" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
        <!--  自动生成 2016年12月22日 根据ID查询 -->
        select 
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from app_teacher
        where id = #{id,jdbcType=BIGINT}
    </select>
    
    <select id="load" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-12-22  根据多个ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from app_teacher where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </select>
    
    <select id="all" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-12-22  查询所有 -->
        select 
        <include refid="Base_Column_List" />
        from app_teacher
    </select>
    
    <select id="count" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-12-22 查询总条数 -->
        select count(1) from app_teacher
    </select>
    
    <update id="update" parameterType="com.kapphk.web.bean.teacher.BeanTeacher" >
        <!--  自动生成 2016年12月22日 更新数据 -->
        update app_teacher
        <set >
            <if test="logoPath != null" >
                logo_path = #{logoPath,jdbcType=VARCHAR},
            </if>
            <if test="uid != null" >
                uid = #{uid,jdbcType=BIGINT},
            </if>
            <if test="teacherLevel != null" >
                teacher_level = #{teacherLevel,jdbcType=VARCHAR},
            </if>
            <if test="itemName != null" >
                item_name = #{itemName,jdbcType=VARCHAR},
            </if>
            <if test="itemRemark != null" >
                item_remark = #{itemRemark,jdbcType=VARCHAR},
            </if>
            <if test="itemTheme != null" >
                item_theme = #{itemTheme,jdbcType=VARCHAR},
            </if>
            <if test="recordType != null" >
                record_type = #{recordType,jdbcType=INTEGER},
            </if>
            <if test="tagValue != null" >
                tag_value = #{tagValue,jdbcType=VARCHAR},
            </if>
            <if test="tagType != null" >
                tag_type = #{tagType,jdbcType=VARCHAR},
            </if>
            <if test="sort != null" >
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="isHome != null" >
                is_home = #{isHome,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="itemContent != null" >
                item_content = #{itemContent,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    
    <insert id="insert" parameterType="com.kapphk.web.bean.teacher.BeanTeacher" useGeneratedKeys="true" keyProperty="id" >
        <!--  自动生成 2016年12月22日 添加数据 -->
        insert into app_teacher
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="logoPath != null" >
                logo_path,
            </if>
            <if test="uid != null" >
                uid,
            </if>
            <if test="teacherLevel != null" >
                teacher_level,
            </if>
            <if test="itemName != null" >
                item_name,
            </if>
            <if test="itemRemark != null" >
                item_remark,
            </if>
            <if test="itemTheme != null" >
                item_theme,
            </if>
            <if test="recordType != null" >
                record_type,
            </if>
            <if test="tagValue != null" >
                tag_value,
            </if>
            <if test="tagType != null" >
                tag_type,
            </if>
            <if test="sort != null" >
                sort,
            </if>
            <if test="isHome != null" >
                is_home,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="itemContent != null" >
                item_content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="logoPath != null" >
                #{logoPath,jdbcType=VARCHAR},
            </if>
            <if test="uid != null" >
                #{uid,jdbcType=BIGINT},
            </if>
            <if test="teacherLevel != null" >
                #{teacherLevel,jdbcType=VARCHAR},
            </if>
            <if test="itemName != null" >
                #{itemName,jdbcType=VARCHAR},
            </if>
            <if test="itemRemark != null" >
                #{itemRemark,jdbcType=VARCHAR},
            </if>
            <if test="itemTheme != null" >
                #{itemTheme,jdbcType=VARCHAR},
            </if>
            <if test="recordType != null" >
                #{recordType,jdbcType=INTEGER},
            </if>
            <if test="tagValue != null" >
                #{tagValue,jdbcType=VARCHAR},
            </if>
            <if test="tagType != null" >
                #{tagType,jdbcType=VARCHAR},
            </if>
            <if test="sort != null" >
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="isHome != null" >
                #{isHome,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="itemContent != null" >
                #{itemContent,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    
    <delete id="delete" parameterType="java.lang.Long" >
        <!--  自动生成 2016年12月22日 删除数据 -->
        delete from app_teacher
        where id = #{id,jdbcType=BIGINT}
    </delete>
    
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kapphk.web.bean.teacher.BeanTeacher" >
        <!--  自动生成 2016年12月22日 更新数据 -->
        update app_teacher
        set logo_path = #{logoPath,jdbcType=VARCHAR},
            uid = #{uid,jdbcType=BIGINT},
            teacher_level = #{teacherLevel,jdbcType=VARCHAR},
            item_name = #{itemName,jdbcType=VARCHAR},
            item_remark = #{itemRemark,jdbcType=VARCHAR},
            item_theme = #{itemTheme,jdbcType=VARCHAR},
            record_type = #{recordType,jdbcType=INTEGER},
            tag_value = #{tagValue,jdbcType=VARCHAR},
            tag_type = #{tagType,jdbcType=VARCHAR},
            sort = #{sort,jdbcType=INTEGER},
            is_home = #{isHome,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            item_content = #{itemContent,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
    
    <insert id="inserts" parameterType="java.util.List" >
        <!-- WARNING -  自动生成 2016-12-22 添加多条数据 -->
        insert into app_teacher (logo_path, uid, teacher_level, item_name, item_remark, item_theme, record_type, tag_value, tag_type, sort, is_home, create_time, item_content)
        values
        <foreach collection="list" item="item" separator="," >
            (#{item.logoPath,jdbcType=VARCHAR}, #{item.uid,jdbcType=BIGINT}, #{item.teacherLevel,jdbcType=VARCHAR}, #{item.itemName,jdbcType=VARCHAR}, #{item.itemRemark,jdbcType=VARCHAR}, #{item.itemTheme,jdbcType=VARCHAR}, #{item.recordType,jdbcType=INTEGER}, #{item.tagValue,jdbcType=VARCHAR}, #{item.tagType,jdbcType=VARCHAR}, #{item.sort,jdbcType=INTEGER}, #{item.isHome,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.itemContent,jdbcType=LONGVARCHAR})
        </foreach>
    </insert>
    
    <delete id="deletes" >
        <!-- WARNING -  自动生成 2016-12-22 删除多条数据 -->
        delete from app_teacher where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </delete>
    
    <delete id="deleteByEntity" >
        <!-- WARNING -  自动生成 2016-12-22 通过实体类中的条件删除数据 -->
        delete from app_teacher
        <where >
            <if test="param.id != null " >
                and id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.logoPath != null and param.logoPath != ''" >
                and logo_path = #{param.logoPath,jdbcType=VARCHAR}
            </if>
            <if test="param.uid != null " >
                and uid = #{param.uid,jdbcType=BIGINT}
            </if>
            <if test="param.teacherLevel != null and param.teacherLevel != ''" >
                and teacher_level = #{param.teacherLevel,jdbcType=VARCHAR}
            </if>
            <if test="param.itemName != null and param.itemName != ''" >
                and item_name = #{param.itemName,jdbcType=VARCHAR}
            </if>
            <if test="param.itemRemark != null and param.itemRemark != ''" >
                and item_remark = #{param.itemRemark,jdbcType=VARCHAR}
            </if>
            <if test="param.itemTheme != null and param.itemTheme != ''" >
                and item_theme = #{param.itemTheme,jdbcType=VARCHAR}
            </if>
            <if test="param.recordType != null " >
                and record_type = #{param.recordType,jdbcType=INTEGER}
            </if>
            <if test="param.tagValue != null and param.tagValue != ''" >
                and tag_value = #{param.tagValue,jdbcType=VARCHAR}
            </if>
            <if test="param.tagType != null and param.tagType != ''" >
                and tag_type = #{param.tagType,jdbcType=VARCHAR}
            </if>
            <if test="param.sort != null " >
                and sort = #{param.sort,jdbcType=INTEGER}
            </if>
            <if test="param.isHome != null " >
                and is_home = #{param.isHome,jdbcType=INTEGER}
            </if>
            <if test="param.itemContent != null " >
                and item_content = #{param.itemContent,jdbcType=LONGVARCHAR}
            </if>
        </where>
    </delete>
    
    <select id="findAll" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-12-22  通过实体中的条件查询所有 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
    
    <select id="findEntityByCondition" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-12-22  通过实体中的条件查询所有 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp limit 0,1
    </select>
</mapper>