<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kapphk.web.dao.mapper.community.BeanCommunityDistrictMapper" >
    <resultMap id="BaseResultMap" type="com.kapphk.web.bean.community.BeanCommunityDistrict" >
        <!--  自动生成 2016年10月31日 表与实体类字段对应 -->
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="community_id" property="communityId" jdbcType="BIGINT" />
        <result column="province" property="province" jdbcType="VARCHAR" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <!-- 根据服务省份获取社区id -->
    <select id="findCommunityId" resultType="java.lang.Long">
    	SELECT DISTINCT community_id FROM app_community_district
    	<where>
    		<if test="proList != null and pid == null">
    			province IN
    			<foreach collection="proList" item="item" open="(" separator="," close=")" >
           		 #{item}
        		</foreach>
    		</if>
    		<if test="proList == null and pid != null">
    			province IN
    			<foreach collection="pid" item="item" open="(" separator="," close=")" >
           		 #{item}
        		</foreach>
    		</if>
    		<if test="proList == null and pid == null">
    			province IN
    			<foreach collection="pid" item="item" open="(" separator="," close=")" >
           		 #{item}
        		</foreach>
        		OR province IN
        		<foreach collection="proList" item="item" open="(" separator="," close=")" >
           		 #{item}
        		</foreach>
    		</if>
    	</where> 
    </select>
    
    <sql id="Base_Column_List" >
        <!--  自动生成 2016年10月31日 表字段名称 -->
        id, community_id, province, city, create_time
    </sql>
    
    <sql id="findByPageSql" >
        <!-- WARNING -  自动生成 2016-10-31  分页查询SQL -->
        select a.* from app_community_district a
        <where >
            <if test="param.id != null and param.id != ''" >
                and a.id = #{param.id,jdbcType=VARCHAR}
            </if>
            <if test="param.communityId != null " >
                and a.community_id = #{param.communityId,jdbcType=BIGINT}
            </if>
            <if test="param.province != null and param.province != ''" >
                and a.province = #{param.province,jdbcType=VARCHAR}
            </if>
            <if test="param.city != null and param.city != ''" >
                and a.city = #{param.city,jdbcType=VARCHAR}
            </if>
        </where>
        order by a.id desc
    </sql>
    
    <select id="findByPage" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-10-31  分页查询 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp limit #{offset}, #{pageSize}
    </select>
    
    <select id="findByPageCount" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-10-31  分页查询总条数 -->
        select count(1) from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
    
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
        <!--  自动生成 2016年10月31日 根据ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from app_community_district
        where id = #{id,jdbcType=VARCHAR}
    </select>
    
    <select id="load" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-10-31  根据多个ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from app_community_district where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </select>
    
    <select id="all" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-10-31  查询所有 -->
        select 
        <include refid="Base_Column_List" />
        from app_community_district
    </select>
    
    <select id="count" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-10-31 查询总条数 -->
        select count(1) from app_community_district
    </select>
    
    <update id="update" parameterType="com.kapphk.web.bean.community.BeanCommunityDistrict" >
        <!--  自动生成 2016年10月31日 更新数据 -->
        update app_community_district
        <set >
            <if test="communityId != null" >
                community_id = #{communityId,jdbcType=BIGINT},
            </if>
            <if test="province != null" >
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null" >
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    
    <insert id="insert" parameterType="com.kapphk.web.bean.community.BeanCommunityDistrict" useGeneratedKeys="true" keyProperty="id" >
        <!--  自动生成 2016年10月31日 添加数据 -->
        insert into app_community_district
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="communityId != null" >
                community_id,
            </if>
            <if test="province != null" >
                province,
            </if>
            <if test="city != null" >
                city,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="communityId != null" >
                #{communityId,jdbcType=BIGINT},
            </if>
            <if test="province != null" >
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null" >
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    
    <insert id="inserts" parameterType="java.util.List" >
        <!-- WARNING -  自动生成 2016-10-31 添加多条数据 -->
        insert into app_community_district (community_id, province, city, create_time)
        values
        <foreach collection="list" item="item" separator="," >
            (#{item.communityId,jdbcType=BIGINT}, #{item.province,jdbcType=VARCHAR}, #{item.city,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
    
    <delete id="delete" parameterType="java.lang.String" >
        <!--  自动生成 2016年10月31日 删除数据 -->
        delete from app_community_district
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    
    <delete id="deletes" >
        <!-- WARNING -  自动生成 2016-10-31 删除多条数据 -->
        delete from app_community_district where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </delete>
    
    <delete id="deleteByEntity" >
        <!-- WARNING -  自动生成 2016-10-31 通过实体类中的条件删除数据 -->
        delete from app_community_district
        <where >
            <if test="param.id != null and param.id != ''" >
                and id = #{param.id,jdbcType=VARCHAR}
            </if>
            <if test="param.communityId != null " >
                and community_id = #{param.communityId,jdbcType=BIGINT}
            </if>
            <if test="param.province != null and param.province != ''" >
                and province = #{param.province,jdbcType=VARCHAR}
            </if>
            <if test="param.city != null and param.city != ''" >
                and city = #{param.city,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>
    
    <select id="findAll" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-10-31  通过实体中的条件查询所有 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
</mapper>