<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kapphk.web.dao.mapper.user.BeanServiceLogMapper" >
    <resultMap id="BaseResultMap" type="com.kapphk.web.bean.user.BeanServiceLog" >
        <!--  自动生成 2016年11月04日 表与实体类字段对应 -->
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="service_id" property="serviceId" jdbcType="BIGINT" />
        <result column="uid" property="uid" jdbcType="BIGINT" />
        <result column="log_content" property="logContent" jdbcType="VARCHAR" />
        <result column="log_date" property="logDate" jdbcType="TIMESTAMP" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <!-- 回访记录列表 -->
    <select id="findList" resultType="java.util.Map">
    	SELECT l.id,l.log_content AS logContent,CAST(l.log_date AS CHAR) AS logDate,
		u.user_name AS userName,u.real_name AS realName,su.user_name AS kuserName,su.real_name AS krealName 
		FROM app_service_log l
		INNER JOIN sys_user u ON u.id=l.service_id
		INNER JOIN sys_user su ON su.id=l.uid
		<where>
			l.uid = #{param.uid}
			<if test="userName != null and userName != ''">
				and u.user_name like '%${userName}%'
			</if>
			<if test="realName != null and realName != ''">
				and u.real_name like '%${realName}%'
			</if>
		</where>
		ORDER BY l.id DESC LIMIT #{page},#{rows}
    </select>
    
    <!-- 回访记录列表总数 -->
    <select id="findCount" resultType="java.lang.Integer">
    	SELECT COUNT(1)
		FROM app_service_log l
		INNER JOIN sys_user u ON u.id=l.service_id
		<where>
			l.uid = #{param.uid}
			<if test="userName != null and userName != ''">
				and u.user_name like '%${userName}%'
			</if>
			<if test="realName != null and realName != ''">
				and u.real_name like '%${realName}%'
			</if>
		</where>
    </select>
    
    <sql id="Base_Column_List" >
        <!--  自动生成 2016年11月04日 表字段名称 -->
        id, service_id, uid, log_content, log_date, create_time
    </sql>
    
    <sql id="findByPageSql" >
        <!-- WARNING -  自动生成 2016-11-04  分页查询SQL -->
        select a.* from app_service_log a
        <where >
            <if test="param.id != null " >
                and a.id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.serviceId != null " >
                and a.service_id = #{param.serviceId,jdbcType=BIGINT}
            </if>
            <if test="param.uid != null " >
                and a.uid = #{param.uid,jdbcType=BIGINT}
            </if>
            <if test="param.logContent != null and param.logContent != ''" >
                and a.log_content = #{param.logContent,jdbcType=VARCHAR}
            </if>
            <if test="param.logDate != null " >
                and a.log_date = #{param.logDate,jdbcType=TIMESTAMP}
            </if>
        </where>
        order by a.id desc
    </sql>
    
    <select id="findByPage" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-11-04  分页查询 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp limit #{offset}, #{pageSize}
    </select>
    
    <select id="findByPageCount" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-11-04  分页查询总条数 -->
        select count(1) from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
    
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        <!--  自动生成 2016年11月04日 根据ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from app_service_log
        where id = #{id,jdbcType=BIGINT}
    </select>
    
    <select id="load" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-11-04  根据多个ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from app_service_log where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </select>
    
    <select id="all" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-11-04  查询所有 -->
        select 
        <include refid="Base_Column_List" />
        from app_service_log
    </select>
    
    <select id="count" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-11-04 查询总条数 -->
        select count(1) from app_service_log
    </select>
    
    <update id="update" parameterType="com.kapphk.web.bean.user.BeanServiceLog" >
        <!--  自动生成 2016年11月04日 更新数据 -->
        update app_service_log
        <set >
            <if test="serviceId != null" >
                service_id = #{serviceId,jdbcType=BIGINT},
            </if>
            <if test="uid != null" >
                uid = #{uid,jdbcType=BIGINT},
            </if>
            <if test="logContent != null" >
                log_content = #{logContent,jdbcType=VARCHAR},
            </if>
            <if test="logDate != null" >
                log_date = #{logDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    
    <insert id="insert" parameterType="com.kapphk.web.bean.user.BeanServiceLog" useGeneratedKeys="true" keyProperty="id" >
        <!--  自动生成 2016年11月04日 添加数据 -->
        insert into app_service_log
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="serviceId != null" >
                service_id,
            </if>
            <if test="uid != null" >
                uid,
            </if>
            <if test="logContent != null" >
                log_content,
            </if>
            <if test="logDate != null" >
                log_date,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="serviceId != null" >
                #{serviceId,jdbcType=BIGINT},
            </if>
            <if test="uid != null" >
                #{uid,jdbcType=BIGINT},
            </if>
            <if test="logContent != null" >
                #{logContent,jdbcType=VARCHAR},
            </if>
            <if test="logDate != null" >
                #{logDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    
    <insert id="inserts" parameterType="java.util.List" >
        <!-- WARNING -  自动生成 2016-11-04 添加多条数据 -->
        insert into app_service_log (service_id, uid, log_content, log_date, create_time)
        values
        <foreach collection="list" item="item" separator="," >
            (#{item.serviceId,jdbcType=BIGINT}, #{item.uid,jdbcType=BIGINT}, #{item.logContent,jdbcType=VARCHAR}, #{item.logDate,jdbcType=TIMESTAMP}, #{item.createTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
    
    <delete id="delete" parameterType="java.lang.Long" >
        <!--  自动生成 2016年11月04日 删除数据 -->
        delete from app_service_log
        where id = #{id,jdbcType=BIGINT}
    </delete>
    
    <delete id="deletes" >
        <!-- WARNING -  自动生成 2016-11-04 删除多条数据 -->
        delete from app_service_log where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </delete>
    
    <delete id="deleteByEntity" >
        <!-- WARNING -  自动生成 2016-11-04 通过实体类中的条件删除数据 -->
        delete from app_service_log
        <where >
            <if test="param.id != null " >
                and id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.serviceId != null " >
                and service_id = #{param.serviceId,jdbcType=BIGINT}
            </if>
            <if test="param.uid != null " >
                and uid = #{param.uid,jdbcType=BIGINT}
            </if>
            <if test="param.logContent != null and param.logContent != ''" >
                and log_content = #{param.logContent,jdbcType=VARCHAR}
            </if>
            <if test="param.logDate != null " >
                and log_date = #{param.logDate,jdbcType=TIMESTAMP}
            </if>
        </where>
    </delete>
    
    <select id="findAll" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-11-04  通过实体中的条件查询所有 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
</mapper>