<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kapphk.system.mapper.SettingMapper" >
    <resultMap id="BaseResultMap" type="com.kapphk.system.bean.Setting" >
        <!--  自动生成 2016年09月28日 表与实体类字段对应 --> 
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="company_name" property="companyName" jdbcType="VARCHAR" />
        <result column="company_tel" property="companyTel" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        <!--  自动生成 2016年09月28日 表字段名称 -->
        id, company_name, company_tel
    </sql>
    
    <sql id="findByPageSql" >
        <!-- WARNING -  自动生成 2016-09-28  分页查询SQL -->
        select a.* from sys_setting a
        <where >
            <if test="param.id != null and param.id != ''" >
                and a.id = #{param.id,jdbcType=VARCHAR}
            </if>
            <if test="param.companyName != null and param.companyName != ''" >
                and a.company_name = #{param.companyName,jdbcType=VARCHAR}
            </if>
            <if test="param.companyTel != null and param.companyTel != ''" >
                and a.company_tel = #{param.companyTel,jdbcType=VARCHAR}
            </if>
        </where>
        order by a.id desc
    </sql>
    
    <select id="findByPage" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-09-28  分页查询 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp limit #{offset}, #{pageSize}
    </select>
    
    <select id="findByPageCount" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-09-28  分页查询总条数 -->
        select count(1) from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
    
    <select id="findList" resultMap="BaseResultMap">
    	select temp.* from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
    
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
        <!--  自动生成 2016年09月28日 根据ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from sys_setting
        where id = #{id,jdbcType=VARCHAR}
    </select>
    
    <select id="load" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-09-28  根据多个ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from sys_setting where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </select>
    
    <select id="all" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-09-28  查询所有 -->
        select 
        <include refid="Base_Column_List" />
        from sys_setting
    </select>
    
    <select id="count" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-09-28 查询总条数 -->
        select count(1) from sys_setting
    </select>
    
    <update id="update" parameterType="com.kapphk.system.bean.Setting" >
        <!--  自动生成 2016年09月28日 更新数据 -->
        update sys_setting
        <set >
            <if test="companyName != null" >
                company_name = #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="companyTel != null" >
                company_tel = #{companyTel,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    
    <insert id="insert" parameterType="com.kapphk.system.bean.Setting" useGeneratedKeys="true" keyProperty="id" >
        <!--  自动生成 2016年09月28日 添加数据 -->
        insert into sys_setting
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="companyName != null" >
                company_name,
            </if>
            <if test="companyTel != null" >
                company_tel,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="companyName != null" >
                #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="companyTel != null" >
                #{companyTel,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    
    <insert id="inserts" parameterType="java.util.List" >
        <!-- WARNING -  自动生成 2016-09-28 添加多条数据 -->
        insert into sys_setting (company_name, company_tel)
        values
        <foreach collection="list" item="item" separator="," >
            (#{item.companyName,jdbcType=VARCHAR}, #{item.companyTel,jdbcType=VARCHAR})
        </foreach>
    </insert>
    
    <delete id="delete" parameterType="java.lang.String" >
        <!--  自动生成 2016年09月28日 删除数据 -->
        delete from sys_setting
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    
    <delete id="deletes" >
        <!-- WARNING -  自动生成 2016-09-28 删除多条数据 -->
        delete from sys_setting where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </delete>
    
    <delete id="deleteByEntity" >
        <!-- WARNING -  自动生成 2016-09-28 通过实体类中的条件删除数据 -->
        delete from sys_setting
        <where >
            <if test="param.id != null and param.id != ''" >
                and id = #{param.id,jdbcType=VARCHAR}
            </if>
            <if test="param.companyName != null and param.companyName != ''" >
                and company_name = #{param.companyName,jdbcType=VARCHAR}
            </if>
            <if test="param.companyTel != null and param.companyTel != ''" >
                and company_tel = #{param.companyTel,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>
    
    <select id="findAll" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-09-28  通过实体中的条件查询所有 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
</mapper>