<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.airparking.apms.api.parkPrice.mapper.StepPriceMapper">

    <resultMap id="entityMap" type="com.airparking.apms.api.parkPrice.entity.StepPrice" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="park_time" property="parkTime" jdbcType="FLOAT" />
        <result column="fee" property="fee" jdbcType="INTEGER" />
        <result column="price_id" property="priceId" jdbcType="BIGINT" />
        <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
        <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
        <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
        <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="listColumn" >
        id,park_time,fee,price_id,is_deleted,created_date,created_by,updated_date,updated_by
    </sql>

    <select id="get" resultMap="entityMap" parameterType="java.lang.Long" >
        select
        <include refid="listColumn" />
        from step_price
        where id = #{id, jdbcType=BIGINT}
    </select>
    
    <select id="findByPriceId" resultMap="entityMap" parameterType="java.lang.Long" >
        select
        <include refid="listColumn" />
        from step_price
        where price_id = #{priceId, jdbcType=BIGINT}
    </select>

    <insert id="add" parameterType="com.airparking.apms.api.parkPrice.entity.StepPrice">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
                SELECT LAST_INSERT_ID()
        </selectKey>
        insert into step_price
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="parkTime != null" >
                park_time,
            </if>
            <if test="fee != null" >
                fee,
            </if>
            <if test="priceId != null" >
                price_id,
            </if>
            <if test="isDeleted != null" >
                is_deleted,
            </if>
            <if test="createdDate != null" >
                created_date,
            </if>
            <if test="createdBy != null" >
                created_by,
            </if>
            <if test="updatedDate != null" >
                updated_date,
            </if>
            <if test="updatedBy != null" >
                updated_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id, jdbcType=BIGINT},
            </if>
            <if test="parkTime != null" >
                #{parkTime, jdbcType=FLOAT},
            </if>
            <if test="fee != null" >
                #{fee, jdbcType=INTEGER},
            </if>
            <if test="priceId != null" >
                #{priceId, jdbcType=BIGINT},
            </if>
            <if test="isDeleted != null" >
                #{isDeleted, jdbcType=BIT},
            </if>
            <if test="createdDate != null" >
                #{createdDate, jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null" >
                #{createdBy, jdbcType=VARCHAR},
            </if>
            <if test="updatedDate != null" >
                #{updatedDate, jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null" >
                #{updatedBy, jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.airparking.apms.api.parkPrice.entity.StepPrice" >
        update step_price
        set
        <trim suffixOverrides=",">
            <if test="id != null" >
                id = #{id, jdbcType=BIGINT},
            </if>
            <if test="parkTime != null" >
                park_time = #{parkTime, jdbcType=FLOAT},
            </if>
            <if test="fee != null" >
                fee = #{fee, jdbcType=INTEGER},
            </if>
            <if test="priceId != null" >
                price_id = #{priceId, jdbcType=BIGINT},
            </if>
            <if test="isDeleted != null" >
                is_deleted = #{isDeleted, jdbcType=BIT},
            </if>
            <if test="createdDate != null" >
                created_date = #{createdDate, jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null" >
                created_by = #{createdBy, jdbcType=VARCHAR},
            </if>
            <if test="updatedDate != null" >
                updated_date = #{updatedDate, jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null" >
                updated_by = #{updatedBy, jdbcType=VARCHAR},
            </if>
        </trim>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="count" resultType="java.lang.Integer" >
        select count(1) from step_price
    </select>

    <select id="find" resultMap="entityMap" parameterType="map" >
        select
        <include refid="listColumn" />
        from step_price
        limit #{start},#{count}
    </select>

    <update id="delete" parameterType="java.lang.Long" >
        update step_price
        set is_deleted = true where is_deleted = false and id = #{id}
    </update>

 	<update id="deleteInTrue" parameterType="java.lang.Long" >
        delete from step_price where id = #{id}
    </update>
</mapper>