<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kapphk.web.dao.mapper.product.BeanAppProductDeliveryMapper" >
    <resultMap id="BaseResultMap" type="com.kapphk.web.bean.product.BeanAppProductDelivery" >
        <!--  自动生成 2016年12月19日 表与实体类字段对应 -->
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="province_id" property="provinceId" jdbcType="VARCHAR" />
        <result column="city_id" property="cityId" jdbcType="VARCHAR" />
        <result column="price" property="price" jdbcType="DECIMAL" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        <!--  自动生成 2016年12月19日 表字段名称 -->
        id, province_id, city_id, price, create_time
    </sql>
    
    <sql id="findByPageSql" >
        <!-- WARNING -  自动生成 2016-12-19  分页查询SQL -->
        select a.* from app_product_delivery a
        <where >
            <if test="param.id != null " >
                and a.id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.provinceId != null and param.provinceId != ''" >
                and a.province_id = #{param.provinceId,jdbcType=VARCHAR}
            </if>
            <if test="param.cityId != null and param.cityId != ''" >
                and a.city_id = #{param.cityId,jdbcType=VARCHAR}
            </if>
            <if test="param.price != null " >
                and a.price = #{param.price,jdbcType=DECIMAL}
            </if>
        </where>
        order by a.id desc
    </sql>
    
    <select id="findByPage" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-12-19  分页查询 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp limit #{offset}, #{pageSize}
    </select>
    
    <select id="findByPageCount" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-12-19  分页查询总条数 -->
        select count(1) from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
    
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        <!--  自动生成 2016年12月19日 根据ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from app_product_delivery
        where id = #{id,jdbcType=BIGINT}
    </select>
    
    <select id="load" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-12-19  根据多个ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from app_product_delivery where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </select>
    
    <select id="all" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-12-19  查询所有 -->
        select 
        <include refid="Base_Column_List" />
        from app_product_delivery
    </select>
    
    <select id="count" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-12-19 查询总条数 -->
        select count(1) from app_product_delivery
    </select>
    
    <update id="update" parameterType="com.kapphk.web.bean.product.BeanAppProductDelivery" >
        <!--  自动生成 2016年12月19日 更新数据 -->
        update app_product_delivery
        <set >
            <if test="provinceId != null" >
                province_id = #{provinceId,jdbcType=VARCHAR},
            </if>
            <if test="cityId != null" >
                city_id = #{cityId,jdbcType=VARCHAR},
            </if>
            <if test="price != null" >
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    
    <insert id="insert" parameterType="com.kapphk.web.bean.product.BeanAppProductDelivery" useGeneratedKeys="true" keyProperty="id" >
        <!--  自动生成 2016年12月19日 添加数据 -->
        insert into app_product_delivery
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="provinceId != null" >
                province_id,
            </if>
            <if test="cityId != null" >
                city_id,
            </if>
            <if test="price != null" >
                price,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="provinceId != null" >
                #{provinceId,jdbcType=VARCHAR},
            </if>
            <if test="cityId != null" >
                #{cityId,jdbcType=VARCHAR},
            </if>
            <if test="price != null" >
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    
    <insert id="inserts" parameterType="java.util.List" >
        <!-- WARNING -  自动生成 2016-12-19 添加多条数据 -->
        insert into app_product_delivery (province_id, city_id, price, create_time)
        values
        <foreach collection="list" item="item" separator="," >
            (#{item.provinceId,jdbcType=VARCHAR}, #{item.cityId,jdbcType=VARCHAR}, #{item.price,jdbcType=DECIMAL}, #{item.createTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
    
    <delete id="delete" parameterType="java.lang.Long" >
        <!--  自动生成 2016年12月19日 删除数据 -->
        delete from app_product_delivery
        where id = #{id,jdbcType=BIGINT}
    </delete>
    
    <delete id="deletes" >
        <!-- WARNING -  自动生成 2016-12-19 删除多条数据 -->
        delete from app_product_delivery where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </delete>
    
    <delete id="deleteByEntity" >
        <!-- WARNING -  自动生成 2016-12-19 通过实体类中的条件删除数据 -->
        delete from app_product_delivery
        <where >
            <if test="param.id != null " >
                and id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.provinceId != null and param.provinceId != ''" >
                and province_id = #{param.provinceId,jdbcType=VARCHAR}
            </if>
            <if test="param.cityId != null and param.cityId != ''" >
                and city_id = #{param.cityId,jdbcType=VARCHAR}
            </if>
            <if test="param.price != null " >
                and price = #{param.price,jdbcType=DECIMAL}
            </if>
        </where>
    </delete>
    
    <select id="findAll" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-12-19  通过实体中的条件查询所有 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp 
    </select>

    <select id="findList" resultType="java.util.Map">
        SELECT
        GROUP_CONCAT(temp.id ) AS id,
        GROUP_CONCAT(temp.city_id )AS citys,
        temp.price,
        DATE_FORMAT(MAX(temp.create_time),'%Y-%m-%d %H:%i:%S') AS createTime  FROM(
        SELECT CAST(api.id AS CHAR ) AS id,api.`city_id` ,api.`province_id`,api.`price`,api.`create_time`
        FROM app_product_delivery api
        <where >
        <if test="param.cityId !=null and param.cityId !='' ">
            api.`city_id`  LIKE CONCAT('%',#{param.cityId,jdbcType=VARCHAR},'%')
        </if>
        </where>)temp
        <where>
            <if test="param.ids !=null and param.ids!='' ">
                id in
                <foreach collection="param.ids" item="item" open="(" separator="," close=")" >
                    #{item}
                </foreach>
            </if>
        </where>
        GROUP BY temp.price
        ORDER BY temp.price ASC,MAX(temp.create_time)DESC
        <if test="page !=null ">
            limit #{page,jdbcType=INTEGER},
        </if>
        <if test="page !=null ">
            #{rows,jdbcType=INTEGER}
        </if>
    </select>

    <select id="findCount" resultType="java.lang.Integer">
      select count(1) FROM
      (SELECT
        GROUP_CONCAT(temp.id ) AS id,
        GROUP_CONCAT(temp.city_id )AS citys,
        temp.price,
        MAX(temp.create_time) AS creatTime  FROM(
        SELECT CAST(api.id AS CHAR ) AS id,api.`city_id` ,api.`province_id`,api.`price`,api.`create_time`
        FROM app_product_delivery api
        <where >
            <if test="param.cityId !=null and param.cityId !='' ">
                api.`city_id`  LIKE CONCAT('%',#{param.cityId,jdbcType=VARCHAR},'%')
            </if>
        </where>)temp
        GROUP BY temp.price
        ORDER BY temp.price ASC,MAX(temp.create_time)DESC)temp2
    </select>

    <select id="findProvinceAndCitys" resultType="java.util.Map">
      SELECT
        ap.`id` AS provinceId,
        GROUP_CONCAT(ac.id) AS cityIds
        FROM sys_addr_province  ap,sys_addr_city ac WHERE ap.`id`=ac.`pid`
        GROUP BY ap.`id`
    </select>

    <select id="findCitys" resultType="com.kapphk.web.bean.system.BeanCity">
        SELECT
            a.id,
            a.pid,
            a.code
        FROM sys_addr_city a

    </select>

    <select id="findProvinceId" resultType="java.lang.String">
        SELECT
        a.`pid`
        FROM sys_addr_city a
        WHERE a.`id`=#{cityId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByCityId" parameterType="java.util.List">
        delete from app_product_delivery where city_id in
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </delete>

</mapper>